
<div ng-hide="isLoggedIn()">
  <h3>You need to <a ui-sref='login'>Log In</a> or <a ui-sref='register'>Register</a> before you can view and edit contacts.</h3>
</div>
<div class="contact_form" ng-show="isLoggedIn()">
<h2>Search for Contact</h2>
<input type="text" placeholder="Search for Contact" ng-model="searchNames">
 <table class="table">
     
      <h2>Add or Update Contact</h2>
      <tbody>
        <tr>
          
          <td><input type="text" placeholder="First Name" ng-model="contact.fname" required></td>
          <td><input type="text" placeholder="Last Name" ng-model="contact.lname" required></td>
          <td><input type="email" placeholder="Email" ng-model="contact.email" required></td>
          <td><input type="text" placeholder="Phone Number" ng-model="contact.number" required></td>
          <td><button class="submit" ng-click="addContact(contact)">Add Contact</button></td>
          <td><button class="submit" ng-click="updateContact(contact)">Update</button></td>
         
          
      

      </tr>
   
        
        
        <tr ng-repeat="contact in contactList | filter:searchNames">
          <td class="six">{{contact.fname}}</td>
          <td class="six">{{contact.lname}}</td>
          <td class="six">{{contact.email}}</td>
          <td class="six">{{contact.number}}</td>
          <td><button  class="submit" ng-click="removeContact(contact._id)">Remove</button></td>
          <td><button class="submit" ng-click="editContact(contact._id)">Edit</button></td>
          
        </tr>
      </tbody>
    </table>
  </div>