
<div ng-hide="isLoggedIn()">
  <h4>You need to <a ui-sref='login'>Log In</a> or <a ui-sref='register'>Register</a> before you can view and edit contacts.</h3>
</div>
<div ng-show="isLoggedIn()">
<label>Search for Contact: <input ng-model="searchNames"></label>
 <table class="table">
      <thead>
        <tr>
          <th>First Name</th>  
          <th>Last Name</th>       
          <th>Email</th>
          <th>Number</th>
          <th>Action</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          
          <td><input class="form"  ng-model="contact.fname"></td>
          <td><input class="form"  ng-model="contact.lname"></td>
          <td><input class="form" ng-model="contact.email"></td>
          <td><input class="form" ng-model="contact.number"></td>
          <td><button ng-click="addContact(contact)">Add Contact</button></td>
          <td><button ng-click="updateContact(contact)">Update</button></td>
         
          
      

      </tr>
   
        
        
        <tr ng-repeat="contact in contactList | filter:searchNames">
          <td>{{contact.fname}}</td>
          <td>{{contact.lname}}</td>
          <td>{{contact.email}}</td>
          <td>{{contact.number}}</td>
          <td><button  ng-click="removeContact(contact._id)">Remove</button></td>
          <td><button  ng-click="editContact(contact._id)">Edit</button></td>
          
        </tr>
      </tbody>
    </table>
  </div>