
.wrapper {
	background-color: gray;
	height: 50px;
	width: 100%;
	border: 1px solid black;
	text-align: center;

}

.navbar li {
	list-style-type: none;
	padding: 10px;
}

.one {
	float: left;

}

.three, .two, .four, .five {
	float: right;

}

a  {
	color: red;
}

a:hover {
	color: green;

}

a:active {
	color: blue;
	}
